@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;400;500;700;900&family=Nunito:wght@200;300;400;600;700&family=Permanent+Marker&display=swap");

:root {
  --primary-color: #0000ff;
  --primary-color-light: #0db0dd;
  --bgcolor: #fff;
  --black: var(--black);
  --whitecolor: #fff;

  /* Font sizes*/
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 2rem;
  position: fixed;
  border-bottom: 1.5px solid rgb(178, 182, 223);
  backdrop-filter: blur (5px);
  background: var(--whitecolor);
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
  }
  span {
    color: var(--black);
    font-size: var(--h3FontSize);
    font-weight: 500;
    justify-content: center;
    margin-left: 15%;
    margin-top: -15%;
  }

  @media screen and (max-width: 767px) {
    .logo {
      width: 10%;
    }
    .menu {
      position: absolute;
      width: 70%;
      top: -100rem;
      right: 50%;
      left: 50%;
      transform: translate(-50%);
      background: rgba(255, 255, 255, 0.94);
      padding: 2rem;
      border-radius: 10px;
      transition: 0.8s ease-in-out;
      backdrop-filter: blur(5px);
      box-shadow: 0 2px 3px 4px rgba(236, 213, 213, 0.516);

      li {
        font-size: var(--h3FontSize);
        font-weight: 500;
        padding: 1rem 0;
        text-align: center;
        cursor: pointer;
        &:hover {
          color: var(--primary-color);
          border-bottom: 1.5px solid var(--primary-color);
        }
      }
    }
  }

  .menuIcon,
  .closeIcon {
    font-size: var(--h1FontSize);
    visibility: visible;
    &:hover {
      color: var(--primary-color);
    }
  }
  .menuIcon {
    margin-left: 5%;
  }

  .closeIcon {
    position: absolute;
    bottom: 15px;
    right: 50%;
    left: 50%;
    top: 90%;
    color: var(--black);
    transform: translate(-50%);
  }

  .showNavBar {
    top: 8rem;
  }
  .popularPlace{
    display: none;
  }
}
